body {
  background: #fff;
  color: black;

  & nav {
    margin: 10px auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;

    & .logo{
      margin-right: auto;
      padding-left: 10px;
    }

    & a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      margin-left: 12px;
      padding: 10px;

      &:hover{
        color: orange;
      }
    }
  }

  & footer{
    display: block;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
    color: #777;
    border-top: 1px solid #eaeaea;
  }
}

a{
  text-decoration: none;
}
